<div class="flex flex-col p-4 gap-1.5 justify-center items-center">
    <h1 class="text-3xl font-bold dx-theme-accent-as-text-color">{{title()}}</h1>
    <p class="text-lg text-center max-w-md theme-text-color">This project's goal is to give you the tools to create a timeline and add events to it.</p>
    <h3 class="font-semibold dx-theme-accent-as-text-color">Goals</h3>
    <ul class="theme-list theme-text-color">
        <li>Create and manage timelines</li>
        <li>Add, edit, and delete events</li>
        <li>Customize timeline appearance</li>
        <li>Export timelines in various formats</li>
    </ul>
</div>